[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "elisp/rinari"]
	path = elisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "elisp/rhtml"]
	path = elisp/rhtml
	url = https://github.com/eschulte/rhtml.git
